


.btn-edit {
  background: white;
  border: solid 1.5px black;
  padding: 1px 6px;
  font-size: 1px;
  border-radius: 3px;
  margin-right: 20px;
  font-size: 15px;
  background-color: transparent;
}
.btn-delete {
  background: white;
  border: solid 1.5px black;
  padding: 1px 6px;
  font-size: 1px;
  border-radius: 3px;
  margin-right: 20px;
  font-size: 15px;
  background-color: transparent;
}
.btn-complete {
  background: white;
  border: solid 1.5px black;
  padding: 1px 6px;
  font-size: 1px;
  border-radius: 3px;
  margin-right: 20px;
  font-size: 15px;
  background-color: transparent;
}
  

  